
@model LatinMedia.Core.ViewModels.ChaneMailViewModel

<div style="padding:20px; direction:rtl">
   

    <p>
       با سلام،لطفا جهت تغییر ایمیل کاربری روی لینک زیر کلیک نمایید
        <br />
        <a href="https://localhost:44391/Account/ChangeMailAccount?userId=@Model.UserId&token=@Model.Token&mail=@Model.Email">تغییر ایمیل</a>
    </p>

</div>
