
@model LatinMedia.DataLayer.Entities.User.User

<div style="padding:20px; direction:rtl">
    <h2>@(Model.FirstName + " " + Model.LastName) عزیز! </h2>

    <p>
        جهت بازیابی کلمه عبور خود بر روی لینک زیر کلیک نمایید
        <br />
        <a href="https://localhost:44391/Account/ResetPassword/@Model.ActiveCode">بازیابی کلمه عبور</a>
    </p>

</div>

